.main-table th span {
  color: #337ab7;
}

.main-table th span:hover {
  color: #377ab7;
  cursor: pointer;
}

.btc-price-wrapper {
  border-top: 3px solid #ffbb05;
  background:white;
  width: auto;
  height: 25px;
  text-align: center;
}
.btc-price-wrapper > div {
  background:white;
  display: inline-block;
}
.btc-price-wrapper .price {
  margin-left: 25px;
}

.red-text {
  background-color: #b56969;
}

.green-text {
  background-color: #7abc92;
}
