.main-table th span {
  color: #337ab7;
}

.main-table th span:hover {
  color: #377ab7;
  cursor: pointer;
}

.btc-price-wrapper {
  border-top: 3px solid #ffbb05;
  background:white;
  width: auto;
  height: 25px;
  text-align: center;
}
.btc-price-wrapper > div {
  background:white;
  display: inline-block;
}
.btc-price-wrapper .price {
  margin-left: 25px;
}

.red-text {
  background-color: #b56969;
}

.green-text {
  background-color: #7abc92;
}

.input-group-overview{
   margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .input-group-overview{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .input-group-overview input.form-control{
    border-radius: 0px 0px 3px 3px;
  }
  .input-group-overview.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn{
    border-radius: 0px 0px 3px 3px;
  }
  .input-group-overview .input-group-left{
    width: 100%;
    border-right: 1px solid #cccccc;
    border-bottom: 0px;
    border-radius: 0px 0px 0px 0px;
  }
}