<div class="panel panel-default">
	<div class="panel-heading">Overview setttings</div>
	<div class="panel-body">
		<div class="container-fluid">
      	<div class="row">
      		<div class="col-sm-3 col-xs-12">
				<div class="input-group">
					<span class="input-group-addon">Intervals</span>
					<input type="text" ng-model="overviewSettings.intervals" />
				</div>
				<div class="input-group">
					<span class="input-group-addon">Minimum volume maintable</span>
					<input type="text" ng-model="overviewSettings.minVolume" />
				</div>
				<div class="input-group">
					<span class="input-group-addon">Maximum items in intervaltables</span>
					<input type="text" ng-model="overviewSettings.maxItemsInterval" />
				</div>
				<br/>
				<button type="button" class="btn" ng-click="saveSettings()">Save</button>
				<button type="button" class="btn" ng-click="resetSettings()">Reset</button>

			</div>
      	</div>
      </div>
	</div>
</div>
