<div class="panel panel-default">
	<div class="panel-heading">Totals since start</div>
	<div class="panel-body">
		<table class="main-table table table-striped table-bordered table-condensed table-hover" ng-if="finalList">
			<thead>
				<tr>
					<th>
						<span class="head" ng-click="orderByField='coin'; reverseSort = !reverseSort">
							Coin
							<span ng-show="orderByField == 'coin'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
						</span>
					</th>
					<th>
						<span class="head" ng-click="orderByField='start'; reverseSort = !reverseSort">
							Start
							<span ng-show="orderByField == 'start'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
						</span>
					</th>
					<th>
						<span  class="head" ng-click="orderByField='price'; reverseSort = !reverseSort">
							Price
							<span ng-show="orderByField == 'price'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
						</span>
					</th>
					<th style="text-align:right">
						<span ng-click="orderByField='diffSinceStart'; reverseSort = !reverseSort">
							<span class="head">Price Diff.</span>
							<span ng-show="orderByField == 'diffSinceStart'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
						</span>
					</th>
					<th style="text-align:right">
						<span ng-click="orderByField='volume'; reverseSort = !reverseSort">
							Volume
							<span ng-show="orderByField == 'volume'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
						</span>
					</th>
					<th style="text-align:right">
						<span ng-click="orderByField='volumeDiff'; reverseSort = !reverseSort">
							Volume Diff.
							<span ng-show="orderByField == 'volumeDiff'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
						</span>
					</th>
					<th>Ignore</th>
					<th>Realtime</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="coin in finalList | orderBy:orderByField:reverseSort" ng-if="!coin.hide">
				  <td><a href="https://bittrex.com/Market/Index?MarketName=BTC-{{coin.coin}}" ng-click="log(coin.coin)" target="_blank"> {{coin.coin}}</span> </td>
				  <td>{{coin.start}} </td>
				  <td>{{coin.price}} </td>
				  <td style="text-align:right">{{coin.diffSinceStart}}% </td>
				  <td style="text-align:right">{{coin.volume}} </td>
				  <td style="text-align:right">{{coin.volumeDiff}}% </td>
				  <td><a href="javascript:void(0)" ng-click="ignore(coin.coin)" class="btn-link">Ignore {{ coin.hide }} </a></td>

				  <td><a target="_blank" href="/#!/realtime/{{coin.coin}}" ng-click="logRealtime(coin.coin)">Open</a></td>
				</tr>
			</tbody>
		</table>
		<span ng-if="!finalList">Waiting for data..</span>
	</div>
	<div class="panel-footer" ng-show="ignoreList.length > 0">
		Coins ignored <a ng-href='#here' ng-click='resetHide()' >(Reset)</span>: {{ignoreList.split(",").join(", ")}}
	</div>
</div>
