<div class="panel panel-default">
	<div class="panel-heading">Long settting</div>
	<div class="panel-body">
		<div class="container-fluid">
      	<div class="row">
      		<div class="col-sm-3 col-xs-12" style="padding-top:25px;">
				<div class="input-group">
					<span class="input-group-addon">Intervals</span>
					<input type="text" ng-model="inputIntervals" />
				</div>
				<div class="input-group">
					<span class="input-group-addon">Minimum volume</span>
					<input type="text" ng-model="inputMinVolume" />
				</div>
				<BR />
				<button type="button" class="btn" ng-click="updateSettings()">Update</button>
				<button type="button" class="btn" ng-click="saveSettings()">Save</button>
				<button type="button" class="btn" ng-click="loadSettings()">Load</button>
				<button type="button" class="btn" ng-click="resetSettings()">Reset</button>
				
			</div>
      	</div>
      </div>
	</div>
</div>
