<div class="panel panel-default">
	<div class="panel-heading">Total since {{startTime}}</div>
	<div class="panel-body">
		<table class="table table-striped table-bordered table-condensed table-hover" ng-if="finalList">
			<thead>
				<tr>
					<th>
						<a href="#" ng-click="orderByField='coin'; reverseSort = !reverseSort; orderByFieldLog=-1">
							Coin
							<span ng-show="orderByField == 'coin'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
						</a>
					</th>
					<th>
						<a href="#" ng-click="orderByField='current'; reverseSort = !reverseSort; orderByFieldLog=-1">
							Current price
							<span ng-show="orderByField == 'current'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
						</a>
					</th>
					<th>
						<a href="#" ng-click="orderByField='high'; reverseSort = !reverseSort; orderByFieldLog=-1">
							24h high
							<span ng-show="orderByField == 'high'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
						</a>
					</th>
					<th>
						<a href="#" ng-click="orderByField='low'; reverseSort = !reverseSort; orderByFieldLog=-1">
							24h low
							<span ng-show="orderByField == 'low'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
						</a>
					</th>
					<th>
						<a href="#" ng-click="orderByField='volume'; reverseSort = !reverseSort; orderByFieldLog=-1">
							Volume
							<span ng-show="orderByField == 'volume'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
						</a>
					</th>
					<th style="text-align:right" ng-repeat="header in headers">
						<a href="#" ng-click="$parent.orderByFieldLog=header; $parent.reverseSort = !$parent.reverseSort; $parent.orderByField='log[' + $index + ']' ">
							{{header}} min<span ng-show="$parent.orderByFieldLog == header"><span ng-show="!$parent.reverseSort">^</span><span ng-show="$parent.reverseSort">v</span></span>
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="coin in finalList | orderBy:orderByField:reverseSort">
					<td>
						<a href="https://bittrex.com/Market/Index?MarketName=BTC-{{coin.coin}}" target="_blank"> {{coin.coin}}</a> 
						<a href="javascript:void(0)" ng-click="ignore(coin.coin)" class="btn-link"> (Ignore)</a>
					</td>
					<td>{{coin.current}}</td>
					<td>{{coin.high}}</td> 
					<td>{{coin.low}}</td>
					<td>{{coin.volume}}</td>
					<td style="text-align:right" ng-class="{'red-text': logItem < -1 && logItem > -9999, 'green-text': logItem > 1}" ng-repeat="logItem in coin.log track by $index ">
						<span ng-show="logItem !== -9999">{{logItem.toFixed(1)}}%</span>
					</td>
				</tr>
			</tbody>
		</table>
		<span ng-if="!finalList">Waiting for data..</span>
	</div>
	<div class="panel-footer" ng-show="ignoreListLong.length > 0">
		Coins ignored <a ng-href='#here' ng-click='resetHide()' >(Reset)</a>: {{ignoreListLong.split(",").join(", ")}}
	</div>
</div>
