<div class="panel panel-default">
	<div class="panel-heading">Last <b>{{interval}} minutes</b>, sorted by % increase: </div>
	<div class="panel-body">
		<table class="table table-striped table-bordered table-condensed table-hover" ng-if="tops[interval]">
			<thead>
				<tr>
					<th>Coin</th>
					<th>Start</th>
					<th>Price</th>
					<th style="text-align:right">Price Diff.</th>
					<th style="text-align:right">Volume</th>
					<th style="text-align:right">Volume Diff.</th>
					<th>Realtime</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="coin in tops[interval]">
				  <td ><a href="https://bittrex.com/Market/Index?MarketName=BTC-{{coin.coin}}" target="_blank"> {{coin.coin}}</a> </td>
				  <td>{{coin.start}} </td>
				  <td>{{coin.price}} </td>
				  <td style="text-align:right">{{coin.diffSinceStart}}% </td>
				  <td style="text-align:right">{{coin.volume}} </td>
				  <td style="text-align:right">{{coin.volumeDiff}}% </td>
				  <td><a target="_blank" href="/chart/index.html?coin={{coin.coin}}">Open</a></td>
				</tr>
			</tbody>
		</table>
		<span ng-if="!tops[interval]">Waiting for data..</span>
	</div>
</div>
