<div class="panel panel-default">
	<div class="panel-heading">Last <b>{{interval}} minutes</b>, sorted by % increase: </div>
	<div class="panel-body">
		<table class="table table-striped table-condensed table-bordered table-hover" ng-if="tops[interval]">
			<thead>
				<tr>
					<th>Coin</th>
					<th>Start</th>
					<th>Price</th>
					<th>Price Increase</th>
					<th>Volume</th>
					<th>Volume Increase</th>
				</tr>
			</thead>
			<tbody>	
				<tr ng-repeat="coin in tops[interval]">
				  <td style="width : 50px"><a href="https://bittrex.com/Market/Index?MarketName=BTC-{{coin.coin}}" target="_blank"> {{coin.coin}}</a> </td>
				  <td style="width : 100px">{{coin.start}} </td>
				  <td style="width : 100px">{{coin.price}} </td>
				  <td style="width : 100px;text-align:right;">{{coin.diffSinceStart}}% </td>
				  <td style="width : 200px;text-align:right;">{{coin.volume}} </td>
				  <td style="width : 200px;text-align:right;">{{coin.volumeDiff}}% </td>
				  <span>
				</tr>
			</tbody>
		</table>
		<span ng-if="!tops[interval]">Waiting for data..</span>
	</div>
</div>