<div class="panel panel-default">
	<div class="panel-heading">Total since {{startTime}} sorted by % increase: {{ resetHide }}</div>
	<div class="panel-body">
		<table class="table table-striped table-bordered table-condensed table-hover" ng-if="finalList">
			<thead>
				<tr>
					<th>Coin</th>
					<th>Start</th>
					<th>Price</th>
					<th style="text-align:right">Price<br/>Increase</th>
					<th style="text-align:right">Volume</th>
					<th style="text-align:right">Volume<br/>Increase</th>
					<th>Ignore</th>
				</tr>
			</thead>
			<tbody>	
				<tr ng-repeat="coin in finalList | orderBy:'volumeDiff':true" ng-if="!coin.hide">
				  <td><a href="https://bittrex.com/Market/Index?MarketName=BTC-{{coin.coin}}" target="_blank"> {{coin.coin}}</a> </td>
				  <td>{{coin.start}} </td>
				  <td>{{coin.price}} </td>
				  <td style="text-align:right">{{coin.diffSinceStart}}% </td>
				  <td style="text-align:right">{{coin.volume}} </td>
				  <td style="text-align:right">{{coin.volumeDiff}}% </td>
				  <td><a href="javascript:void(0)" ng-click="ignore(coin.coin)" class="btn-link">Ignore {{ coin.hide }} </a></td>
				</tr>
			</tbody>
		</table>
		<span ng-if="!finalList">Waiting for data..</span>
	</div>
</div>