<div class="panel panel-default">
	<div class="panel-heading">Last <b>{{interval}} minutes</b>, sorted by % increase: </div>
	<div class="panel-body">
		<table class="table table-striped table-bordered table-condensed table-hover" ng-if="tops[interval]">
			<thead>
				<tr>
					<th>Coin</th>
					<th>Start</th>
					<th>Price</th>
					<th style="text-align:right">Price Diff.</th>
					<th style="text-align:right">Volume</th>
					<th style="text-align:right">Volume Diff.</th>
					<th>Realtime</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="coin in tops[interval]">
				  <td ><a href="https://bittrex.com/Market/Index?MarketName=BTC-{{coin.coin}}" target="_blank"> {{coin.coin}}</a> </td>
				  <td>{{coin.start}} </td>
				  <td>{{coin.price}} </td>
				  <td style="text-align:right">{{coin.diffSinceStart}}% </td>
				  <td style="text-align:right">{{coin.volume}} </td>
				  <td style="text-align:right">{{coin.volumeDiff}}% </td>
				  <td><a target="_blank" href="/chart/index.html?coin={{coin.coin}}">Open</a></td>
				</tr>
			</tbody>
		</table>
		<span ng-if="!tops[interval] && interval == firstInterval">
			<div class="panel-body">
				<h4> Getting started</h4>
	      <p>Here you can see the prices of almost all coins tradeable on Bittrex.</br>
	      It can help you spot what is going in the market, what is mooning, where volume is growing etc.</br>
	      The intervals help you check the history, click a name will open the coin on Bittrex, clicking the <b>Real-time</b> will show you the current price visually faster then Bittrex can.</p>
	    </div>
		</span>
		<span ng-if="!tops[interval] && interval !== firstInterval">Waiting for data...</span>
	</div>
</div>
